<h1>ACTUALIZAR INFORMACION DE <%= @job.name %></h1>

<%= form_for :job, url: '/jobs/'+@job.id.to_s, method: :patch, :html=> { class: 'job-form'} do |f| %>
	
	<p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <p class='message'><%= show_errors(@job, :name) %></p>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
    <p class='message'><%= show_errors(@job, :description) %></p>
  </p>

  <p>
    <%= f.collection_select :customer_id, @customers, :id, :name, {:include_blank => 'SELECCIONE UN CLIENTE'} %>
    <p class='message'><%= show_errors(@job, :customer_id) %></p>
  </p>

  <div class="list">
    <p class="list-group-item active text-center">SELECCIONAR RESPONSABLE O RESONSABLE</p>
    <%= render 'jobs/select_user', users: @users, type: 'edit', user_id: @job.user_id %>
  </div>

  <br />

	<p>
  	<%= f.submit 'ACTUALIZAR', class: "btn btn-primary float-right" %>
    <%= f.hidden_field :team_id, :value => params[:team_id]%>
	</p>
    
<% end %>

<script type="text/javascript">
  $('.job-form').on('submit', function(){
    var ids = ""
    $( "div.list" ).find( "input" ).each(function( index ) {
      if($( this ).is(":checked")){
        ids = ids + $( this ).attr('id') + ','
      }
    });
    $('.job-form').append('<input type="hidden" name="ids" id="team_ids" value="'+ids.substring(0, ids.length - 1)+'"/>');
  });
</script>