<h1>TAREAS EN GENERAL</h1>
<br></br>

<table  class="table table-striped">
  <thead>
    <tr>
      <th>CLIENTE</th>
      <th>RESPONSABLE</th>
      <th>TRABAJO</th>
      <th>EQUIPO</th>
      <th>PORCENTAJE</th>
      <th>FECHA DE CREACIÓN</th>
      <th>FECHA DE VENCIMIENTO</th>
      <th>VER TRABAJO</th>
      <th>VER EQUIPO</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |us| %>
      <% us.jobs.each do |user| %>
        <tr>
          <td><%= us.name %></td>
          <td><%= User.find(user.user_id).name %></td>
          <td><%= user.name %></td>
          <td><%= Team.find(user.team_id).name %></td>
          <td><%= Task.calculate_porcent(user.id) %>%</td>
          <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
          <td></td>
          <td>
            <%= link_to 'LINK', job_path(user.id) %>
          </td>
          <td>
            <%= link_to 'LINK', team_path(user.team_id)%>
          </td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>

<%= link_to 'INGRESAR UN CLIENTE', new_customer_path, class: 'btn btn-primary float-right' %>

